@import "./variable.scss";

//-----------------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------------
//---------------------------------------Backgrounds Colors--------------------------------------------------------
//-----------------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------------

.bg-primary {
    background-color: $primary !important;
    color:white !important
}
.bg-secondary {
    background-color: $secondary !important;
    color:white !important
}
.bg-accent {
    background-color: $accent !important;
    color:white !important
}
.bg-success {
    background-color: $success !important;
    color:white !important
}
.bg-info {
    background-color: $info !important;
    color:white !important
}
.bg-warning {
    background-color: $warning !important;
    color:white !important
}
.bg-danger {
    background-color: $danger !important;
    color:white !important
}
.bg-light {
    background-color: $light !important
}
.bg-dark {
    background-color: $dark !important;
    color:white !important
}
.bg-white {
    background-color: $white !important
}
.bg-transparent {
    background-color: transparent !important
}
.bg-pink {
    background-color: $pink !important;
    color:white !important
}
.bg-purple {
    background-color: $purple !important;
    color:white !important
}
.bg-blue {
    background-color: $blue !important;
    color:white !important
}
.bg-teal {
    background-color: $teal !important;
    color:white !important
}
.bg-lime {
    background-color: $lime !important;
    color:white !important
}
.bg-green {
    background-color: $green !important;
    color:white !important
}
.bg-yellow {
    background-color: $yellow !important;
    color:white !important
}
.bg-orange {
    background-color: $orange !important;
    color:white !important
}
.bg-brown {
    background-color: $brown !important;
    color:white !important
}


//-----------------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------------
//---------------------------------------Font Colors---------------------------------------------------
//-----------------------------------------------------------------------------------------------------
//-----------------------------------------------------------------------------------------------------


.clr-primary {
    color: $primary !important;
}
.clr-secondary {
    color: $secondary !important;
}
.clr-accent {
    color: $accent !important;
}
.clr-success {
    color: $success !important;
}
.clr-info {
    color: $info !important;
}
.clr-warning {
    color: $warning !important;
}
.clr-danger {
    color: $danger !important;
}
.clr-light {
    color: $light !important
}
.clr-dark {
    color: $dark !important;
}
.clr-white {
    color: $white !important
}
.clr-transparent {
    color: transparent !important
}
.clr-pink {
    color: $pink !important;
}
.clr-purple {
    color: $purple !important;
}
.clr-blue {
    color: $blue !important;
}
.clr-teal {
    color: $teal !important;
}
.clr-lime {
    color: $lime !important;
}
.clr-green {
    color: $green !important;
}
.clr-yellow {
    color: $yellow !important;
}
.clr-orange {
    color: $orange !important;
}
.clr-brown {
    color: $brown !important;
}








