$primary : #4C80BE;
$secondary : #4BA9C6;
$accent : #1A2E5A;
$success : #4caf50;
$info : #03A9F4;
$warning : #FF9800;
$danger : #F44336;
$light : #f8f9fa;
$dark : #343a40;
$white : #ffffff;
$pink : #E91E63;
$purple : #9C27B0;
$blue : #2196F3;
$teal : #009688;
$lime : #CDDC39;
$green : #4CAF50;
$yellow : #FFEB3B;
$orange : #FF9800;
$brown : #795548;


//-----------------Adjust theme for material UI css-----------------------------------------------

@import '~@angular/material/theming';


$custom-typography: mat-typography-config(
  $font-family:   'Roboto, "Helvetica Neue", sans-serif',
  $display-4:     mat-typography-level(112px, 112px, 300),
  $display-3:     mat-typography-level(56px, 56px, 400),
  $display-2:     mat-typography-level(45px, 48px, 400),
  $display-1:     mat-typography-level(34px, 40px, 400),
  $headline:      mat-typography-level(18px, 24px, 400),
  $title:         mat-typography-level(20px, 32px, 500),
  $subheading-2:  mat-typography-level(16px, 28px, 400),
  $subheading-1:  mat-typography-level(15px, 24px, 400),
  $body-2:        mat-typography-level(14px, 24px, 500),
  $body-1:        mat-typography-level(14px, 20px, 400),
  $caption:       mat-typography-level(12px, 20px, 400),
  $button:        mat-typography-level(14px, 14px, 500),
  // Line-height must be unit-less fraction of the font-size.
  $input:         mat-typography-level(16px, 1.125, 400)
);

@include angular-material-typography($custom-typography);

